---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <style is:global>
            body {max-width: 50em;}
        </style>
    </head>
    <body>
        <nav>
            {
                Astro.url.pathname === import.meta.env.BASE_URL ? (
                    <b>Home</b>
                ) : (
                    <a href={import.meta.env.BASE_URL}>Home</a>
                )
            }
            |
            {
                Astro.url.pathname === `${import.meta.env.BASE_URL}about` ? (
                    <b>About</b>
                ) : (
                    <a href={`${import.meta.env.BASE_URL}about`}>About</a>
                )
            }
        </nav>
        <slot />
    </body>
</html>
