---
import BugStats from "@components/BugStats.astro";
import { AgeStats, RepoSummary } from "@lib/repo-summaries";
import { z } from "zod";
import Layout from "../layouts/Layout.astro";

const repos = (await Astro.glob("../../../scanner/summaries/*/*.json")).map(
    (repo) => RepoSummary.parse(repo)
);
const GlobalStats = z.object({
    ageAtCloseMs: AgeStats,
    openAgeMs: AgeStats,
});
const globalStats = GlobalStats.parse(
    (await Astro.glob("../../../scanner/summaries/global.json"))[0]
);
---

<Layout title="Browser Spec Maintenance Status">
    <main>
        <h1>Browser Spec Maintenance Status</h1>
        <section id="global-stats">
            <BugStats
                ageStats={globalStats.openAgeMs}
                description="open bugs"
            />
            <BugStats
                ageStats={globalStats.ageAtCloseMs}
                description="closed bugs"
            />
        </section>

        <section>
            <ul>
                {
                    repos.map((repo) => (
                        <li>
                            <a href={`${repo.org}/${repo.repo}`}>
                                {repo.org}/{repo.repo}
                            </a>
                            {repo.openAgeMs ? (
                                <BugStats
                                    ageStats={repo.openAgeMs}
                                    description="open bugs"
                                />
                            ) : (
                                ": 0 open bugs"
                            )}
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>

<style>
    #global-stats {
        display: flex;
    }
</style>
