---
import Duration from "@components/Duration.astro";
import GhLabel from "@components/GhLabel.astro";
import IssueTable from "@components/IssueTable.astro";
import TextButton from "@components/TextButton.astro";
import Layout from "@layouts/Layout.astro";
import { englishUtcFormatter } from "@lib/formatTime.js";
import { IssueSummary } from "@lib/repo-summaries";
import {
    agendaLengthSLO,
    agendaSLO,
    cmpByAgendaUsed,
    cmpByNeededEditsFor,
    cmpByTimeUsed,
    editsSLO,
    groupBySlo,
    soonSLO,
    triageSLO,
    urgentSLO,
} from "@lib/slo";
import * as ghLabels from "@lib/triage-labels";
import type {
    GetStaticPaths,
    InferGetStaticParamsType,
    InferGetStaticPropsType,
} from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
    const repos = await getCollection("github");
    return repos.map((repo) => ({
        params: { org: repo.data.org, repo: repo.data.repo },
        props: { details: repo.data },
    }));
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { org, repo } = Astro.params as Params;
const { details } = Astro.props as Props;

const {
    untriaged,
    triageViolations,
    agenda,
    agendaViolations,
    needsEdits,
    needsEditsViolations,
    soon,
    soonViolations,
    urgent,
    urgentViolations,
} = groupBySlo(IssueSummary.array().parse(details.issues));
urgent.push(...urgentViolations);
urgent.sort(cmpByTimeUsed);
soon.push(...soonViolations);
soon.sort(cmpByTimeUsed);
agenda.push(...agendaViolations);
agenda.sort(cmpByAgendaUsed);
needsEdits.push(...needsEditsViolations);
needsEdits.sort(cmpByNeededEditsFor);
untriaged.push(...triageViolations);
untriaged.sort(cmpByTimeUsed);
---

<script>
    import "@components/local-time.js";
</script>

<Layout title={`${org}/${repo} Issues`}>
    <h1>
        <a href=`https://github.com/${org}/${repo}/issues`
            >{org}/{repo} Issues</a
        >
    </h1>

    <p>
        Last updated <local-time datetime={details.cachedAt}
            >{
                englishUtcFormatter.format(new Date(details.cachedAt))
            }</local-time
        >.
    </p>

    {
        details.labelsPresent ? null : (
            <p>
                This repository doesn't have the
                <GhLabel {...ghLabels.eventually} /> label that's used to mark
                an issue as triaged without giving it an SLO. Until that's
                added, this summary uses heuristics to guess if each issue has
                been triaged.
            </p>
        )
    }

    <ul>
        {
            untriaged.length > 0 ? (
                <li>
                    <a href="#untriaged">
                        {triageViolations.length
                            ? `${triageViolations.length} out-of-SLO untriaged issues`
                            : `${untriaged.length} untriaged issues`}
                    </a>
                </li>
            ) : null
        }
        {
            urgent.length > 0 ? (
                <li>
                    <a href="#urgent">
                        {urgentViolations.length
                            ? `${urgentViolations.length} out-of-SLO urgent issues`
                            : `${urgent.length} urgent issues`}
                    </a>
                </li>
            ) : null
        }
        {
            needsEdits.length > 0 ? (
                <li>
                    <a href="#need-edits">
                        {needsEditsViolations.length
                            ? `${needsEditsViolations.length} issues with out-of-SLO pending edits`
                            : `${needsEdits.length} issues with pending edits`}
                    </a>
                </li>
            ) : null
        }
        {
            agenda.length > 0 ? (
                <li>
                    <a href="#agenda">
                        {agenda.length > agendaLengthSLO &&
                        agendaViolations.length
                            ? `${agenda.length} issues on the agenda, ${agendaViolations.length} of which have been waiting too long; consider scheduling more meetings`
                            : agendaViolations.length
                              ? `${agendaViolations.length} issues on the agenda that have been waiting too long`
                              : `${agenda.length} issues on the agenda${agenda.length > agendaLengthSLO ? "; consider scheduling more meetings" : ""}`}
                    </a>
                </li>
            ) : null
        }
        {
            soon.length > 0 ? (
                <li>
                    <a href="#soon">
                        {soonViolations.length
                            ? `${soonViolations.length} out-of-SLO soon-priority issues`
                            : `${soon.length} soon-priority issues`}
                    </a>
                </li>
            ) : null
        }
    </ul>

    {
        untriaged.length > 0 ? (
            <>
                <h2 id="untriaged">Untriaged</h2>
                <p>
                    Try to triage issues within <Duration d={triageSLO} />.
                    <TextButton
                        href={`${import.meta.env.BASE_URL}about#need-triage`}
                        label="More Info"
                    />
                </p>
                <IssueTable issues={untriaged} />
            </>
        ) : null
    }

    {
        urgent.length > 0 ? (
            <>
                <h2 id="urgent">Urgent</h2>
                <p>
                    Try to resolve issues within <Duration d={urgentSLO} />.
                    <TextButton
                        href={`${import.meta.env.BASE_URL}about#urgent`}
                        label="More Info"
                    />
                    <TextButton
                        href={`https://github.com/${org}/${repo}/issues?q=is%3Aopen+label%3A"Priority%3A+Urgent"+sort%3Aupdated-asc`}
                        label="See these issues on Github"
                    />
                </p>
                <IssueTable issues={urgent} />
            </>
        ) : null
    }

    {
        needsEdits.length > 0 ? (
            <>
                <h2 id="need-edits">Need Edits</h2>
                <p>
                    Try to apply the edits requested in these issues within
                    <Duration d={editsSLO} weeks />.
                    <TextButton
                        href={`${import.meta.env.BASE_URL}about#needs-edits`}
                        label="More Info"
                    />
                    <TextButton
                        href={`https://github.com/${org}/${repo}/issues?q=is%3Aopen+label%3A"Needs+Edits"+sort%3Aupdated-asc`}
                        label="See these issues on Github"
                    />
                </p>
                <IssueTable issues={needsEdits} category="needsEdits" />
            </>
        ) : null
    }

    {
        agenda.length > 0 ? (
            <>
                <h2 id="agenda">Agenda</h2>
                <p>
                    Try to maintain fewer than {agendaLengthSLO} agenda items
                    and discuss issues on the agenda within
                    <Duration d={agendaSLO} />.
                    <TextButton
                        href={`${import.meta.env.BASE_URL}about#agenda`}
                        label="More Info"
                    />
                    <TextButton
                        href={`https://github.com/${org}/${repo}/issues?q=is%3Aopen+label%3A"Agenda%2B"+sort%3Aupdated-asc`}
                        label="See these issues on Github"
                    />
                </p>
                <IssueTable issues={agenda} category="agenda" />
            </>
        ) : null
    }

    {
        soon.length > 0 ? (
            <>
                <h2 id="soon">Soon</h2>
                <p>
                    Try to resolve soon-priority issues within
                    <Duration d={soonSLO} />.
                    <TextButton
                        href={`${import.meta.env.BASE_URL}about#soon`}
                        label="More Info"
                    />
                    <TextButton
                        href={`https://github.com/${org}/${repo}/issues?q=is%3Aopen+label%3A"Priority%3A+Soon"+sort%3Aupdated-asc`}
                        label="See these issues on Github"
                    />
                </p>
                <IssueTable issues={soon} />
            </>
        ) : null
    }

    <hr />

    <footer>
        <p>
            This data is available in <a
                href={`${import.meta.env.BASE_URL}${org}/${repo}.json`}
                >machine-readable form</a
            >.
        </p>
    </footer>
</Layout>
